:root {
  --border: solid .2em var(--grey);
}

:root {
  --background: #232323;
  --foreground: #bbbbeb;
  --grey:       #282828;
  --accent:     #6666b6;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-family: system-ui;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

header {
  position: sticky;
  top: 0;
}

header > nav {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: var(--grey);
  overflow-x: scroll;
}

header > nav > ul {
  display: flex;
  list-style: none;
}

header > nav > ul > li > a {
  color: var(--foreground);
  padding-left: 10px;
  padding-right: 10px;
}

li {
  line-height: 2.0;
}

p {
  line-height: 1.5;
  padding-bottom: .5em;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  opacity: 80%;
}

hr {
  border: var(--border);
  border-bottom: none;
}

p > code {
  color: var(--foreground);
  background-color: var(--grey);
  border-radius: 3px;
}

pre, code {
  background-color: var(--grey);
  padding: 3px;
  overflow-x: scroll;
}

blockquote {
  background-color: var(--grey);
  color: var(--accent);
  border-left: solid 5px var(--accent);
  padding: 10px 20px;
}

blockquote > p > code {
  background-color: var(--accent);
  color: var(--background);
}

blockquote > pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

p, hr, ul, ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  list-style-position: inside;
}

h1, h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2, h3 {
  border-bottom: var(--border);
}

h4:has(i) {
  margin-bottom: 2em;
}

img {
  max-height: 400px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 1em auto;
  border: var(--border);
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: var(--grey);
}

article {
  max-width: 80ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-top: 5em;
  min-height: 100vh;
}

nav {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 3em;
  background-color: var(--grey);
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  margin-right: 2em;
}

.nav_items {
  display: flex;
  flex-direction: row;
}

#nav_menu:popover-open {
  font-family: "Shin Go Pro", "Rubik", "Sans Serif", system-ui;
  background-color: var(--grey);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  text-align: right;
  padding: 0.5em;
  border: var(--border);
  border-top: none;
  border-right: none;
  border-color: var(--background);
  z-index: 1;
  animation: right-to-left 300ms both;
  min-height: 100vh;
  box-shadow: 0px 0 70px 0 black;
}

#nav_menu a {
  margin: 1em;
}

.nav_menu {
  display: none;
}

nav button {
  display: inline-block;
  padding: 1em;
  border: none;
  background-color: var(--grey);
  color: var(--link);
  margin-right: 2em;
}

nav button:hover {
  color: var(--link-hover);
}

@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1280px) {
  nav {
    align-items: center;
    height: 10vh;
    border-bottom: solid .2em var(--background);
  }

  .nav_items {
    display: none;
  }

  .nav_menu, nav a {
    display: inline-block;
    font-size: large;
  }

}
