:root {
    --background: #dddddd;
    --foreground: #222222;
    --grey:       #cccccc;
    --accent:     #3377aa;
    --border:     solid 1px var(--grey);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #dddddd;
    --grey:       #282828;
    --accent:     #2266aa;
  }
}

*::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-family: system-ui;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

header {
    position: sticky;
    top: 0;
}

header > nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: var(--grey);
    overflow-x: scroll;
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li > a {
    color: var(--foreground);
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    opacity: 80%;
}

hr {
    border: var(--border);
    border-bottom: none;
}


p > code {
    color: var(--foreground);
    background-color: var(--grey);
    border-radius: 3px;
}

pre, code {
    background-color: var(--grey);
    padding: 3px;
    overflow-x: scroll;
}

blockquote {
    background-color: var(--grey);
    color: var(--accent);
    border-left: solid 5px var(--accent);
    padding: 10px 20px;
}

blockquote > p > code {
    background-color: var(--accent);
    color: var(--background);
}

blockquote > pre {
    margin-top: 10px;
    margin-bottom: 10px;
}

p,
hr,
ul,
ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    list-style-position: inside;
}

h1 {
    background-color: var(--grey);
    padding: 10px;
    border-radius: 3px;
}

h1,
h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

h2,
h3 {
    border-bottom: var(--border);
}

h4:has(i) {
    margin-bottom: 2em;
}

img {
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 1em auto;
    border: var(--border);
}

table,
th,
td {
    border: var(--border);
    padding: 5px;
    border-collapse: collapse;
}

table {
    border: none;
    overflow: scroll;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

colgroup {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

th {
    font-weight: bold;
    background-color: var(--grey);
}

th:hover {
    opacity: 80%;
}

td:hover {
    background-color: var(--grey);
    opacity: 50%;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: var(--grey);
}

article {
    max-width: 80ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    min-height: 100vh;
}

