:root {
    --background:           #1F1F28;
    --foreground:           #DCD7BA;
    --grey:                 #2A2A37;
    --red:                  #FF5D62;
    --green:                #98BB6C;
    --blue:                 #7E9CD8;
    --primary:              #957FB8;
    --border:               solid 1px var(--grey);
}

*::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-family: system-ui;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    opacity: 80%;
}

hr {
    border: var(--border);
    border-bottom: none;
}

blockquote {
    background-color: var(--grey);
    color: var(--primary);
    border-left: solid 5px var(--primary);
    margin: 1em auto;
    padding: 10px 1em;
}

blockquote > blockquote {
    border-left: none;
    border-top: solid 1px var(--primary);
    margin: 0;
    padding: 0;
    color: var(--green);
}

pre, code {
    font-family: monospace;
    background-color: var(--grey);
    padding: 3px;
    overflow-x: scroll;
}

p, hr, ul, ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    list-style-position: inside;
}

s {
    opacity: 50%;
}

h1 {
    background-color: var(--grey);
    padding: 10px;
}

h1, #links, #note {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

h2 {
    border-bottom: var(--border);
}

img {
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 1em auto;
    border: var(--border);
}

table, th, td {
    border: var(--border);
    padding: 5px;
    border-collapse: collapse;
}

table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    overflow: scroll;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

th {
    font-weight: bold;
    background-color: var(--grey);
}

th:hover {
    opacity: 80%;
}

td:hover {
    background-color: var(--grey);
    opacity: 50%;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: var(--grey);
}

article {
    max-width: 80ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    min-height: 100vh;
}

