:root {
  --border: solid .2em var(--grey);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --background: #1d2021;
    --foreground: #ebdbb2;
    --grey:       #282828;
    --accent:     #98971a;
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root {
    --background: #fbf1c7;
    --foreground: #3c3836;
    --grey:       #ebdbb2;
    --accent:     #458588;
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Sans Serif", sans, system-ui;
  scroll-behavior: smooth;
  background-color: var(--grey);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  max-width: 100ch;
  display: block;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  border-bottom: solid .1em var(--grey);
  background-color: var(--background);
  a {
  	text-decoration: none;
  	display: inline-block;
  	padding: 1em;
  	transition: all 300ms;
  	color: var(--foreground);
	&[href^="http"] {
  		text-decoration: none;
	}
	&[href^="http"]::after {
  		content: "";
	}
  }
}

.nav_items {
  display: flex;
  flex-direction: row;
}

#nav_menu:popover-open {
	background-color: var(--background);
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: column;
  	padding: 0.5em;
  	border: none;
  	z-index: 1;
  	animation: top-to-bottom 300ms both;
  	min-height: 100vh;
  	width: calc(100% - 1em);
	a {
  		margin: 1em;
  	}
  	hr {
  		color: var(--foreground);
	}
}

.nav_menu {
	display: none;
  	border: none;
  	color: var(--foreground);
  	padding: 1em;
  	background-color: var(--background);
}

nav a:hover, .nav_menu:hover {
  opacity: 80%;
}

nav a:hover {
  background-color: var(--accent);
  color: var(--background);
}

@keyframes top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

li {
  line-height: 2.0;
}

p {
  line-height: 1.5;
  padding-bottom: .5em;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a[href^="http"] {
  text-decoration: underline;
  text-underline-offset: .2em;
}

a[href^="http"]::after {
  content: "\2197";
}

a:hover {
  opacity: 80%;
}

hr {
  border: var(--border);
  border-bottom: none;
}

p > code {
  color: var(--foreground);
  background-color: var(--grey);
  border-radius: 3px;
}

pre, code {
  padding: 3px;
  background-color: var(--grey);
}

pre code {
  overflow-x: scroll;
  display: block;
}

q::before, q::after {
  content: "";
}

blockquote, q {
  background-color: var(--grey);
  color: var(--accent);
  border-left: solid 5px var(--accent);
  padding: 10px 20px;
  display: block;
}

blockquote code, q code, blockquote pre, q pre  {
  background-color: var(--accent);
  color: var(--background);
}

blockquote pre, q pre {
  padding-top: 10px;
  padding-bottom: 10px;
}

p, hr, ul, ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  list-style-position: inside;
}

h1, h2, h3, h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4:has(i) {
  margin-bottom: 2em;
}

h1 + p, h1 + h4 {
  margin-top: -1em;
}

time {
  color: var(--accent);
  font-size: x-large;
}

img {
  max-height: 400px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 1em auto;
  border: var(--border);
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: var(--background);
  border-top: solid .1em var(--grey);
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  min-height: 100vh;
}

.blog_item {
  padding: 3px 10px;
  border-radius: 5px;
  transition: all 300ms;
  text-decoration: none;
  margin: 1px 0;
  display: block;
  line-height: 2.0;
  border: solid 1px var(--grey);
}

.blog_item:hover {
  padding: 1em;
  background-color: var(--accent);
  color: var(--background);
  border-color: var(--accent);
}

.blog_item:hover a {
  color: var(--background);
  text-decoration: underline;
  text-underline-offset: .3em;
}

.button {
  color: var(--foreground);
  background-color: var(--grey);

  &:hover {
    color: var(--background);
    background-color: var(--accent);
  }

  padding: 3px 10px;
  border-radius: 5px;
  transition: all 300ms;
  text-decoration: none;
  margin: 1px 0;
  display: block;
  line-height: 2.0;

  &:active {
    border-radius: 0;
  }
}

li:has(.blog_entry) {
  line-height: 2.0;
  padding-inline-start: 0px;
  margin: 10px 0;
  list-style: none;

  .button {
    border-radius: 0;
  }

  &+li, &:has(+ li) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &+li {
    a {
      margin-top: 1px;
      margin-bottom: 0;
    }
  }

  &:has(+ li) {
    a {
      margin-top: 0;
      margin-bottom: .8px; /* WTF? */
    }
  }
  
  &:first-child .button {
    margin-top: 10px;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
  }

  &:last-child .button {
    margin-bottom: 10px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
  }
}

@view-transition {
  navigation: auto;
}

@media only screen and (max-width: 1280px) {
  nav {
    align-items: center;
  }

  .nav_items {
    display: none;
  }

  .nav_menu, nav a {
    display: inline-block;
    font-size: large;
  }

}
